<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather-Journal App</title>
    <!-- <link rel="stylesheet" href="main.css" /> -->
    <link rel="stylesheet" href="/up/css/main.css">

    <!-- font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Road+Rage&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Nav Header & Logo -->
    <header id="nav-header">
      <svg class="logo-img" viewBox="0 0 400 400" width="200" height="200">
        <path
          class="p1"
          d="M 140 200 L 170 230 L 180 200 L 190 230 L 220 200 Q 210 160 180 160 Q 150 160 140 200 L 180 270 L 220 200"
        ></path>
      </svg>
      <div class="logo-name">walkabout</div>
    </header>

    <!-- App Form -->
    <main id="app-form">
      <h1 class="title">Personal Travel Planner</h1>
      <form class="search-form">

        <h3 class="title-name">Location (City, Country)</h2>
        <div class="destination">
          <label for="to-location"></label>
          <input type="text" id="to-location" placeholder="Trip to:" />
        </div>

        <h3 class="title-name">Date (Departure & Return)</h2>
        <div class="date">
          <label for="start-date"></label>
          <input type="date" id="start-date" />
        </div>
        <div class="date">
          <label for="end-date"></label>
          <input type="date" id="end-date" />
        </div>

        <button id="search" type="submit">Search</button>
      </form>

      <!-- Trip Result / Details -->
      <div class="trip-info">
        <div class="trip-info-container">
          <div class="loc-image"></div>
          <div class="trip-details">
            <p class="depart-loc">From: <span class="loc-depart"></span></p>
          </div>
          <h4 class="trip-detail">You're travelling to <span class="loc-info name"></span></h4>
          <h4 class="trip-detail">You'll depart from <span class="loc-info depart"></span></h4>
          <button class="save">save trip</button>
          <h4 class="mt-0">Return: <span class="media_heading"></span></h4>
          <h4 class="mt-0">Duration: <span class="media_heading"></span></h4>
          <span class="trip_countdown"></span>
          <span class="trip_weather"></span>


        </div>
      </div>

          <div class="card_modal">
            <div class="container-fluid">
              <div class="media row">
                <img src="" class="images mr-3 col-12 col-lg-5" alt="Popular Images from Trip Location">
                <div class="media-body col-12 col-lg-7">
                  <h4 class="mt-0">Trip to: <span class="media_heading"></span></h4>
                  <h6 class="mt-0">Departure: <span class="media_heading"></span></h6>
                  <h6 class="mt-0">Return: <span class="media_heading"></span></h6>
                  <h6 class="mt-0">Duration: <span class="media_heading"></span></h6>
                  <span class="trip_countdown"></span>
                  <span class="trip_weather"></span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary trip_cancel">Close</button>
              <button type="button" class="btn btn-primary trip_save">Save</button>
            </div>
          </div>

    <!--footer area-->
    <footer id = "info-footer">
      <!-- <p>Optimized for Google Chrome browser</p>
      <a href="https://www.linkedin.com/in/ma-cielo-tennert-7b345412a/">
        <img
          title="LinkedIn"
          alt="LI"
          src="https://github.com/MartinSchuhmacher/udacity-final-travel-app/blob/main/src/client/media/linkedin.jpg?raw=true"
          class="linkedin-link"
        />
      </a> -->

      <div class="social">
        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
      </div>
      <p class="designed">Designed by Ma. Cielo Tennert</p>
      <p class="copyright">walkabout ©2022</p>
    </footer>

    <!-- Footer icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!--adding Service Workers for supported browsers-->
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>

    <!-- <script src="app.js" type="text/javascript"></script> -->
  </body>
</html>
