<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather-Journal App</title>
    <!-- <link rel="stylesheet" href="main.css" /> -->
    <link rel="stylesheet" href="/up/css/main.css" />

    <!-- font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Road+Rage&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Nav Header & Logo -->
    <header id="nav-header">
      <svg class="logo-img" viewBox="0 0 400 400" width="200" height="200">
        <path
          class="p1"
          d="M 140 200 L 170 230 L 180 200 L 190 230 L 220 200 Q 210 160 180 160 Q 150 160 140 200 L 180 270 L 220 200"
        ></path>
      </svg>
      <div class="logo-name">walkabout</div>
    </header>

    <!-- Trip Question Form -->
    <main>
      <h1 class="title-form">Travel Planner</h1>
      <form id="search-form">
        <h3 class="title-name">Location (City Name)</h3>
        <div class="destination">
          <label for="to-location" class="to-location"></label>
          <input type="text" id="to-location" placeholder="Trip to:" required oninput="this.value = this.value.toUpperCase()"/>
        </div>
        <h3 class="title-name">Date (Departure)</h3>
        <div class="date">
          <label for="start-date"></label>
          <input
            type="text"
            id="start-date"
            placeholder="dd-mm-yyyy"
            onfocus="(this.type='date')"
            onblur="if(this.value=='')(this.type='text')" required
          />
        </div>
        <h3 class="title-name">Date (Return)</h3>
        <div class="date">
          <label for="end-date"></label>
          <input
            type="text"
            id="end-date"
            placeholder="dd-mm-yyyy"
            onfocus="(this.type='date')"
            onblur="if(this.value=='')(this.type='text')" required
          />
        </div>
        <button id="search" type="submit">Search</button>
      </form>

    <!-- Trip Info / Details -->
    <!-- <div id="travel-info"> -->
    <!-- Location Image -->
    <!-- <div class="location-img-pixabay">
          <img class = "loc-img" src="https://source.unsplash.com/0E9r6zCVGiU" alt="Destination Image" />
        </div> -->
    <!-- Location, date, weather etc. details -->
    <!-- <div id="travel-text-details">
          <div class="info text-header">
            <h3 class="txt-title trip-to">
              You're travelling to: <span class="mark-style" id="city-place">Cologne</span>
            </h3>
            <h3 class="txt-title arrival-date">
              You'll arrive on: <span class="mark-style" id="arrival-date">DD/MM/YYYY</span>
            </h3>
          </div>
          <div class="info buttons">
            <a href="" class="save trip-button">save</a>
            <a href="" class="delete trip-button">delete</a>
          </div>
          <div class =" info countdown-n-weather">
            <p class="trip-countdown">
              The place you're travelling to is<span class="mark-style" id="days">15 </span>days away
            </p>
            <p class="weather-forecast">
              Weather Forecast: <span class="mark-style" id="temp">85</span> &#176; F
            </p>
            <p class="weather-forecast-words">
              and <span class="mark-style" id="weather-words"> Cloudy </span>throughout the day.
            </p>
          </div>
        </div>
      </div>
    </main> -->

    <!--Footer area-->
    <footer id="info-footer">
      <div class="social">
        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
      </div>
      <p class="designed">Designed by Ma. Cielo Tennert</p>
      <p class="copyright">walkabout ©2022</p>
    </footer>

    <!-- Footer icons -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <!--Service workers Using Load event to keep the page load performant-->
    <!-- <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script> -->
  </body>
</html>
