@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

*,
::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$pri-color: #aaf2ef;
$sec-color: #fff;
$thi-color: #006d65;
$overlay-color: rgba(28, 173, 173, 0.5);
$form-bg-color: #005859;
$sup-color: #000;
$grey: #b1a296;

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a, button{
  outline: none;
  border: none;
  text-decoration: none;
}

input:focus::placeholder {
  outline: none;
  color: transparent;
}
