@import "reset", "header", "form-q", "footer";

body {
  @include center;
  flex-direction: column;
  background: $overlay-color;
  background-image: url("https://source.unsplash.com/uAcg4PZ_f-o");
  background-blend-mode: overlay;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.main-container {
  @include center;
  position: relative;
  height: 50rem;
  width: 30rem;
  flex-direction: column;
}

// Responsive view on other screen devices
@media screen and (min-width: 600px) {
  .main-container {
    height: 60rem;
    width: 50rem;
  }

  .title-form {
    font-size: 3.5rem;
  }

  #search-form,
  #travel-info {
    height: 48rem;
    width: 40rem;

    &::before,
    &::after {
      content: "";
      height: 12rem;
      width: 12rem;
      bottom: 0;
      left: 0;
      border-width: 0.5rem;
    }

    &::after {
      top: 0;
      left: 28rem;
    }
  }

  .title-name {
    color: $sec-color;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    padding: 1rem 0 1rem 0;
  }

  input {
    height: 5rem;
    width: 25rem;
  }

  input::placeholder,
  input:focus {
    font-size: 2rem;
    color: $pri-color;
  }

  #departure-date,
  #arrival-date {
    font-size: 2rem;
  }

  .location-img-pixabay {
    top: 1rem;
    bottom: 0;
    left: 1.2rem;
  }

  .loc-img {
    width: 38rem;
    height: 20rem;
  }

  #travel-text-details {
    top: 21rem;
  }

  .txt-title {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 300;
  }

  .mark-style,
  p {
    font-size: 1.8rem;
    font-weight: 300;
  }

  #search {
    margin-top: 3rem;
  }

  .btn {
    border-radius: 2rem;
    margin: 0 0.5rem 1rem 0;
    font-size: 2rem;
    font-weight: 300;
  }

  #weather-title {
    font-size: 1.8rem;
    padding: 1rem 1.8rem;
    font-weight: 500;
  }

  .temp,
  .desc {
    position: relative;
    font-size: 2rem;
    top: -1rem;
  }

  .temp {
    letter-spacing: 0.2rem;
  }

  img.icon {
    height: 7rem;
    width: 7rem;
  }
}

@media screen and (max-height: 480), screen and (max-width: 320px) {
  .main-container{
    height: 48rem;
  }

  .logo-name {
    font-size: 4rem;
    top: 0.5rem;
  }

  .main

  // form-request
  .title-form {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    top: 8.5rem;
    word-spacing: 0.3rem;
    line-height: 3rem;
  }

  #search-form,
  #travel-info {
    height: 28rem;
    width: 25rem;

    &::before,
    &::after {
      content: "";
      height: 4rem;
      width: 4rem;
      border-width: 0.3rem;
    }

    &::after{
      left: 21rem;
    }

    .title-name {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1;
      padding: 0.3rem;
    }

    input::placeholder,
    input:focus {
      font-size: 1.3rem;
    }

    label {
      padding-bottom: 1rem;
    }

    input {
      font-size: 1.3rem;
      height: 3rem;
      width: 15rem;
    }

    .btn {
      border-radius: 0.5rem;
      margin-top: 1.5rem;
      font-size: 1.3rem;
      padding: 0.2rem 1.5rem;
    }

    // travel details / info

    .location-img-pixabay {
      top: 0.5rem;
      left: 0.2rem;
      height: 12rem;
    }

    .loc-img {
      width: 25rem;
      height: 12rem;
      padding: 0.8rem;
      border-radius: 0.5rem;
    }

    #travel-text-details {
      top: 12rem;
    }

    .txt-title, .mark-style{
      font-size: 1.2rem;
    }

    .save,
    .delete {
      padding: 0.3rem 1.8rem;
      font-size: 1.2rem;
      margin: -0.5rem 0.5rem;
    }

    #weather-title {
      font-size: 1rem;
      padding: 0.5rem 1.8rem;
      font-weight: 800;
    }

    .temp {
      letter-spacing: 0;
    }

    .temp,
    .desc {
      font-size: 1.2rem;
      top: -1rem;
    }

    img.icon {
      height: 3rem;
      width: 3rem;
    }
  }

  // footer area
  #info-footer {
    height: 8rem;
  }

  .social {
    position: relative;
    text-align: center;
    padding: 1.5rem 0 0 0;

    & > a {
      font-size: 2rem;
      width: 3rem;
      height: 3rem;
    }
  }

  ion-icon {
    pointer-events: none;
    color: $sec-color;
  }

  .designed, .copyright {
    padding: 0.5rem 0 0 0;
    font-size: 1rem;
    line-height: 0.8rem;
    font-weight: 300;
  }
}
