@import 'reset', 'header', 'form-q', 'footer';

body {
  position: relative;
  @include center;
  flex-direction: column;
  background: $overlay-color;
  background-image: url("https://source.unsplash.com/UmV2wr-Vbq8");
  background-blend-mode: overlay;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

// Responsive view on bigger screen
@media screen and (min-width: 800px) {
  .landing__container {
    max-width: 80%;
    padding: 1rem;
  }
}