@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
*,
::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root,
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a, button {
  outline: none;
  border: none;
  text-decoration: none;
}

input:focus::-webkit-input-placeholder {
  outline: none;
  color: transparent;
}

input:focus:-ms-input-placeholder {
  outline: none;
  color: transparent;
}

input:focus::-ms-input-placeholder {
  outline: none;
  color: transparent;
}

input:focus::placeholder {
  outline: none;
  color: transparent;
}

*,
::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root,
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a, button {
  outline: none;
  border: none;
  text-decoration: none;
}

input:focus::-webkit-input-placeholder {
  outline: none;
  color: transparent;
}

input:focus:-ms-input-placeholder {
  outline: none;
  color: transparent;
}

input:focus::-ms-input-placeholder {
  outline: none;
  color: transparent;
}

input:focus::placeholder {
  outline: none;
  color: transparent;
}

#nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: left;
      -ms-flex: left;
          flex: left;
  position: fixed;
  height: 8rem;
  width: 100%;
  top: 0;
  background: #2e151b;
  border-radius: 0 0 2rem 2rem;
}

.logo-img {
  position: relative;
  top: -7rem;
  left: -4rem;
  bottom: 0;
  stroke: #b1a296;
  stroke-width: 6;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-filter: drop-shadow(0 0 0.5rem #000);
          filter: drop-shadow(0 0 0.5rem #000);
}

.p1 {
  fill: none;
  -webkit-animation: fill 3s ease-in-out infinite;
          animation: fill 3s ease-in-out infinite;
  top: 0;
}

.logo-name {
  position: absolute;
  font-family: "Road Rage", cursive;
  font-size: 5rem;
  color: #fd93ae;
  top: 0;
  text-shadow: 0 0 0.3rem #000;
  padding: 1rem 1.5rem 0 8rem;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.logo-name:hover {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -webkit-text-decoration: underline #b1a296 0.8rem;
          text-decoration: underline #b1a296 0.8rem;
  text-underline-offset: 0.4rem;
}

@-webkit-keyframes fill {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  to {
    stroke-dashoffset: 0;
  }
}

*,
::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root,
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a, button {
  outline: none;
  border: none;
  text-decoration: none;
}

input:focus::-webkit-input-placeholder {
  outline: none;
  color: transparent;
}

input:focus:-ms-input-placeholder {
  outline: none;
  color: transparent;
}

input:focus::-ms-input-placeholder {
  outline: none;
  color: transparent;
}

input:focus::placeholder {
  outline: none;
  color: transparent;
}

.title-form {
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #fff;
  padding: 0.8rem;
  text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
  -webkit-text-decoration: underline #fd93ae 0.8rem;
          text-decoration: underline #fd93ae 0.8rem;
}

#search-form,
#travel-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 38rem;
  width: 30rem;
  background: rgba(70, 1, 1, 0.3);
  -webkit-box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
}

#search-form {
  border: 0.1rem solid #fd93ae;
}

.info {
  padding: 0.5rem;
  color: #b1a296;
  font-size: 1.5rem;
}

.location-img-pixabay {
  position: absolute;
  top: 1rem;
  bottom: 0;
  width: auto;
  height: 16rem;
  border-radius: 0.5rem 0 0.5rem 0;
}

.location-img-pixabay::before {
  position: absolute;
  content: "";
  border-radius: 0.5rem;
  border: 0.3rem solid #fd93ae;
  height: 16rem;
  width: 28rem;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.loc-img {
  top: 0;
  width: 28rem;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  border-radius: 0.5rem;
  -webkit-transform: scale(0.95) rotate(1deg);
          transform: scale(0.95) rotate(1deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.loc-img:hover {
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
}

#travel-text-details {
  position: absolute;
  top: 17rem;
  text-align: center;
}

.txt-title,
p {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  font-weight: 500;
}

.mark-style {
  position: relative;
  left: 0.3rem;
  word-spacing: 0.5rem;
  font-weight: 800;
  color: #fff;
}

.buttons {
  padding: 1.2rem 0;
}

.trip-button {
  color: #fff;
  margin-left: 1rem;
  padding: 0.4rem 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  border: 0.1rem solid #fd93ae;
}

.trip-button:hover {
  color: #2e151b;
  background: #fd93ae;
  border-radius: 2rem 2rem 0 0;
  -webkit-box-shadow: 0.1rem 0.1rem 0.3rem #000;
          box-shadow: 0.1rem 0.1rem 0.3rem #000;
  border-bottom: 0.2rem solid #fff;
}

.title-name {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1rem 0 1rem 0;
}

input::-webkit-input-placeholder, input:focus {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #fd93ae;
}

input:-ms-input-placeholder, input:focus {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #fd93ae;
}

input::-ms-input-placeholder, input:focus {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #fd93ae;
}

input::placeholder, input:focus {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #fd93ae;
}

label {
  display: block;
  padding-bottom: 1rem;
  background: none;
}

input {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  height: 3rem;
  width: 18rem;
  border: none;
  text-align: center;
  background: none;
  color: #fd93ae;
  border-bottom: 0.1rem solid #fff;
}

#search {
  position: relative;
  -webkit-box-shadow: 0.2rem 0.2rem 1rem #000;
          box-shadow: 0.2rem 0.2rem 1rem #000;
  background: none;
  border-radius: 0.3rem;
  border: 0.1rem solid #fff;
  cursor: pointer;
  color: #fff;
  margin-top: 2.2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  padding: 0.5rem 2rem;
}

#search::before {
  position: absolute;
  content: "";
  height: 3.5rem;
  width: 120%;
  background: #fd93ae;
  border-radius: 0.3rem;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  left: -1rem;
  top: 0.2rem;
  z-index: -1;
}

#search:hover, #search:active {
  background: #fd93ae;
  -webkit-box-shadow: inset -0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
          box-shadow: inset -0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
  color: #fff;
}

#search:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#search:hover::before {
  visibility: hidden;
}

*,
::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root,
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a, button {
  outline: none;
  border: none;
  text-decoration: none;
}

input:focus::-webkit-input-placeholder {
  outline: none;
  color: transparent;
}

input:focus:-ms-input-placeholder {
  outline: none;
  color: transparent;
}

input:focus::-ms-input-placeholder {
  outline: none;
  color: transparent;
}

input:focus::placeholder {
  outline: none;
  color: transparent;
}

#info-footer {
  position: fixed;
  height: 13rem;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #2e151b;
  border-radius: 2rem 2rem 0 0;
}

.social {
  position: relative;
  text-align: center;
  padding: 2rem 0 0 0;
}

.social > a {
  font-size: 2.8rem;
  width: 4rem;
  height: 4rem;
  line-height: 1.6;
  display: inline-block;
  text-align: center;
  border-radius: 0.5rem;
  border: 0.2rem solid #fd93ae;
  margin: 0 0.3rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.social > a:hover {
  -webkit-transform: scale(0.9) rotate(360deg);
          transform: scale(0.9) rotate(360deg);
  border-radius: 50%;
}

ion-icon {
  pointer-events: none;
  color: #fff;
}

.designed, .copyright {
  padding-top: 0.8rem;
  text-align: center;
  font-size: 1.2rem;
  color: #eee;
  letter-spacing: 0.2rem;
  font-weight: 100;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 97, 0.3);
  background-image: url("https://source.unsplash.com/UmV2wr-Vbq8");
  background-blend-mode: overlay;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

@media screen and (min-width: 800px) {
  .landing__container {
    max-width: 80%;
    padding: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */